<div class="container" id="SignupContainer">
  <form class="card" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h4 class="card-title" style="text-align: center;"> Create a new account </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName"  placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
      </div>
      <button    type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
    </div> 
  </form>
</div>