<div class="row">
  <div class="col-md-2 d-none d-md-block  sidebar"> </div>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
              <h4 id="body-header"> Stock Portfolio </h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Total Purchase Price</th>
                    <th>Present Price </th>
                    <th>Total Present Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of stocks">
                    <td><a routerLink="/chart" routerLinkActive="active">{{stock.name}}</a></td>
                    <td>{{stock.shares}}</td>
                    <td>{{stock.amount}}</td>
                    <td>{{stock.presentPrice}}</td>
                    <td>{{stock.shares*stock.presentPrice}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>